h1,
h2,
p {
  text-align: center;
  
}

p {
  color: red;
}

table {
  width: 50%;
  /* テーブルの幅を100%に設定（必要に応じて） */
  border-collapse: collapse;
  margin: 0 auto;
  /* セルの境界線を重ねる */
}

.table td {
  border: 1px solid #000; /* セルの境界線の色を薄いグレーに */
}
td {
  text-align: center;
  /* 水平方向の中央揃え */
  vertical-align: middle;
  /* 垂直方向の中央揃え */
  padding: 10px;
  /* パディングを追加（必要に応じて） */
  border: 1px solid #ccc;
  /* 境界線を追加（必要に応じて） */
}

.countdown-container {
  display: flex;
  justify-content: center;
  /* 水平方向の中央揃え */
  align-items: center;
  /* 垂直方向の中央揃え */
  height: 100vh;
  /* 画面の高さ全体 */
  font-size: 48px;
  /* フォントサイズ */
  color: #333;
  /* テキストカラー */
  background-color: #f0f0f0;
  /* 背景色 */
}

@media (max-width: 768px) {
  .countdown-container {
    font-size: 36px; /* 小さい画面でのフォントサイズ */
  }
  
  td {
    padding: 8px; /* 小さい画面でのパディング調整 */
  }
}

body {
  background-color: #f5f5dc; 
}
